@charset "UTF-8";
/*문자 인코딩 정보 표기*/
:root {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.inner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto; /*outline: 3px solid #f00;*/
}

.font {
  font-family: "pretandard";
}

a {
  text-decoration: none;
  color: #000;
}

header {
  position: relative;
}

header #top {
  height: 150px;
  padding-top: 35px;
}

header #logo {
  float: left;
  margin: 32px 0 0 50px;
}

header h1 img {
  width: 300px;
}

header #main_menu {
  padding-top: 55px;
}
header #main_menu > ul {
  float: left;
  padding-left: 129px;
  text-align: center;
  width: 1140px;
  margin: 0 auto;
}
header #main_menu > ul > li {
  float: left;
  margin-right: 90px;
  text-align: center;
  position: relative;
}
header #main_menu ul:hover .sub {
  opacity: 1;
}
header #main_menu ul:hover + .sub_bg {
  opacity: 1;
}
header #main_menu li:hover .line {
  opacity: 1;
  width: 100%;
}
header #main_menu li:last-child {
  margin-right: 0px;
}
header #main_menu a {
  font-weight: 400;
  font-size: 22px;
}
header #main_menu .sub {
  height: 400px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  z-index: 999;
  white-space: nowrap;
}
header #main_menu .sub ul {
  clear: both;
  margin-top: 40px;
}
header #main_menu .sub li {
  clear: both;
}
header #main_menu .sub li:hover a {
  font-weight: 500;
  font-size: 1.3rem;
}
header #main_menu .sub a {
  font-size: 18px;
  font-weight: 300;
  line-height: 50px;
  color: #fff;
  transition: all 0.3s;
}
header #main_menu .sub_bg {
  width: 100%;
  height: 440px;
  position: absolute;
  top: 150px;
  background: #00468A;
  z-index: 99;
  opacity: 0;
}
header #main_menu .line {
  border-bottom: 5px solid #fff;
  border-radius: 16px;
  opacity: 0;
  transition: all 0.3s;
  width: 10px;
}

header #m_menu {
  float: right;
}
header #m_menu ul {
  float: right;
  margin-right: 115px;
}
header #m_menu li {
  float: left;
  margin-right: 41px;
}
header #m_menu li:nth-child(2) {
  margin-right: 0;
}
header #m_menu li img {
  width: 30px;
}

#main_view {
  height: 710px;
  position: relative;
  font-size: 13px !important;
}
#main_view .swiper .swiper-wrapper img {
  height: 710px;
}
#main_view .next {
  position: absolute;
  bottom: 67px;
  right: 264px;
  z-index: 1;
}
#main_view .prev {
  position: absolute;
  bottom: 67px;
  right: 386px;
  z-index: 1;
}
#main_view .pagination {
  position: absolute;
  bottom: 35px;
  left: auto;
  right: 318px;
  z-index: 1;
  color: #fff;
  width: 30px;
}
#main_view .swiper-pagination-current {
  font-size: 15px;
}
#main_view .swiper-pagination-total {
  font-size: 15px;
}
#main_view .autoplay-progress {
  position: absolute;
  right: 314px;
  bottom: 58px;
  z-index: 10;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  font-size: 0;
}
#main_view .autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #fff;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
#main_view h2 {
  font-size: 53px;
  font-weight: 500;
  margin-bottom: 50px;
  line-height: 60px;
  text-shadow: 1px 1px 1px #333;
}
#main_view p {
  font-size: 22px;
  font-weight: 200;
  line-height: 30px;
  text-shadow: 1px 1px 1px #333;
}
#main_view .view_t {
  position: absolute;
  top: 30%;
  left: 25%;
  color: #fff;
}

#main_search {
  float: left;
  margin-left: 179px;
}
#main_search span {
  font-size: 36px;
}
#main_search .m_w {
  padding-bottom: 70px;
}

#main_slide {
  padding-left: 600px;
}
#main_slide ul {
  float: left;
  border: 1px solid #f00;
}
#main_slide li {
  float: left;
  width: 330px !important;
  height: 500px;
  background: #ddd;
  border-radius: 12px;
}

#q_menu ul {
  font-size: 0;
  text-align: center;
}
#q_menu li {
  font-size: 17px;
  display: inline-block;
  margin-right: 163px;
  margin-top: 110px;
}
#q_menu div {
  width: 100px;
  height: 100px;
  background: #F5F6FA;
  border: 2px solid #EEEFF2;
  border-radius: 27px;
}
#q_menu p {
  padding-top: 26px;
}
#q_menu li:hover div {
  background: #FDFDFE;
}
#q_menu li:last-child {
  margin-right: 0;
}
#q_menu img {
  vertical-align: middle;
  margin-top: 22.5px;
}

#bord {
  margin-top: 145px;
  height: 440px;
}
#bord a:hover {
  text-decoration: underline;
}
#bord #bord1 {
  width: 671px;
  float: left;
}
#bord #bord1 h2 {
  font-size: 25px;
  padding-bottom: 15px;
  font-weight: 500;
}
#bord #bord1 ul {
  border-top: 2px solid #000;
}
#bord #bord1 span {
  width: 55px;
  border-radius: 10px;
  background-color: #D9D9D9;
  padding: 3px 15px;
  margin-right: 31px;
}
#bord #bord1 .color {
  background-color: #00468A;
  color: #fff;
}
#bord #bord1 li {
  padding-top: 30px;
  font-size: 18px;
}
#bord #bord2 {
  width: 671px;
  float: right;
}
#bord #bord2 ul {
  list-style: disc;
  margin-left: 25px;
}
#bord #bord2 h2 {
  font-size: 25px;
  padding-bottom: 15px;
  font-weight: 500;
  border-bottom: 2px solid #000;
}
#bord #bord2 li {
  padding: 30px 0 0 0px;
  font-size: 18px;
}

#banner {
  clear: both;
  text-align: center;
  margin-bottom: 200px;
  position: relative;
  background: url("../img/q_menu_bg3.png") no-repeat;
  height: 630px;
  background-size: cover;
  /*img{width: 997px; height:377px; background: #fff;}*/
}
#banner h2 {
  font-size: 36px;
  font-weight: bold;
  padding: 79px 0 15px;
  color: #fff;
}
#banner span {
  color: #19234c;
}
#banner ul {
  width: 350px;
  margin: 27px 0px 0 243px;
  position: relative;
  height: 377px;
}
#banner li {
  padding-bottom: 35px;
}
#banner li:first-child {
  padding-top: 16px;
}
#banner li:last-child {
  padding-bottom: 0;
}
#banner .sport_b:checked ~ .sub {
  display: block;
}
#banner label {
  color: rgba(255, 255, 255, 0.5333333333);
  font-size: 20px;
}
#banner label:hover {
  cursor: pointer;
}
#banner input[type=radio] {
  display: none;
}
#banner input[type=radio]:checked + .custom-radio + .radio-label {
  font-size: 25px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 10px 10px;
}
#banner .sub {
  position: absolute;
  top: 0px;
  left: 432px;
  width: 997px;
  height: 377px;
  background: #fff;
  display: none;
}
#banner #banner_bg1 {
  position: absolute;
  top: 230px;
  left: -430px;
}
#banner .banner_img {
  position: absolute;
  top: 0;
  left: 0;
}
#banner .sub_w {
  position: absolute;
  top: 0;
  right: 0;
  width: 257px;
  height: 337px;
  background: #ddd;
  padding: 20px;
}
#banner h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 15px 0 88px;
}
#banner p {
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  text-align: left;
}
#banner .button {
  background: #193675;
  width: 150px;
  height: 40px;
  position: absolute;
  top: 280px;
  right: 18px;
  border-radius: 10px;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
#banner .button:hover {
  background: #fff;
  color: #000;
}
#banner .number {
  position: absolute;
  top: 340px;
  right: 25px;
}

#newsroom {
  display: block;
  margin: auto;
  height: 354px;
}
#newsroom h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}
#newsroom ul {
  float: left;
}
#newsroom li {
  float: left;
  width: 290px;
  margin-right: 93px;
  overflow: hidden;
}
#newsroom li:hover img {
  transform: scale(1.1);
  transition: all 0.7s;
}
#newsroom li:last-child {
  margin-right: 0;
}
#newsroom h3 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 26px;
  color: #00468A;
}
#newsroom p {
  font-size: 18px;
  line-height: 25px;
}
#newsroom img {
  width: 290px;
  margin: 22px 0;
}

#sns {
  clear: both;
  margin-top: 236px;
  position: relative;
  height: 500px;
}
#sns h2 {
  font-size: 32px;
  font-weight: 600;
}
#sns h3 {
  padding: 80px 0 0 20px;
  font-size: 28px;
  color: #818181;
  transition: all 0.4s;
}
#sns .swiper {
  width: 242px;
  height: 324px;
  position: absolute;
  right: 230px;
  top: 80px;
}
#sns .sns_box {
  background-position: center;
  background-size: cover;
}
#sns .sns_box img {
  display: block;
}
#sns .sns_box {
  background: #F7F7F5;
  border-radius: 16px;
}
#sns .sns_box:hover h3 {
  color: #000;
}
#sns .sns_logo {
  margin: 20px 0 0 20px;
}
#sns .sns_swiper {
  width: 600px;
  height: 324px;
  position: absolute;
  left: 10%;
  top: 80px;
  overflow: hidden;
}
#sns .sns_img {
  position: relative;
}
#sns .sns_origin {
  position: absolute;
  top: 0;
  left: 0;
}
#sns .sns_origin h3 {
  background: #ccc;
  font-size: 13px;
}
#sns .sns_hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  opacity: 0;
  transition: all 0.3s;
}
#sns .sns_grid {
  display: flex;
  justify-content: center;
}
#sns .sns_grid ul {
  width: 82%;
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  flex-wrap: wrap;
}
#sns .sns_grid li {
  width: 33%;
  border: 1px solid #fff;
  box-sizing: border-box;
}
#sns .sns_grid img {
  display: block;
  width: 100%;
}
#sns .sns_grid li:hover .sns_hover {
  opacity: 1;
}
#sns #youtube {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  color: #fff;
}
footer dl {
  display: inline-flex;
  margin: 39px 0 10px;
}
footer dl:first-child {
  margin: 67px 0 10px;
}
footer dt {
  margin-right: 18px;
  font-weight: 500;
}
footer dd::after {
  content: "|";
  margin: 0 8px 0;
}
footer #foot_1 {
  background: #4F4F4F;
}
footer #foot_1 #copy {
  padding: 20px;
}
footer #foot_1 ul {
  display: inline-flex;
  margin-top: 96px;
  margin-bottom: 36px;
}
footer #foot_1 li {
  margin-right: 15px;
}
footer h3 {
  text-align: center;
}
footer h4 {
  color: #333;
  font-size: 18px;
  float: left;
  margin: 10px 50px 0 50px;
}
footer #foot_b {
  background: #F5F6F8;
  height: 80px;
  position: relative;
}
footer #foot_b #foot_ {
  padding-top: 20px;
}
footer #foot_b #foot_ ul {
  display: inline-flex;
}
footer #foot_b #foot_ li {
  display: inline-flex;
  margin-right: 50px;
}
footer #foot_b #foot_g {
  position: absolute;
  top: 0;
  right: 240px;
}
footer #foot_b #foot_g ul {
  display: inline-flex;
}
footer #foot_b #foot_g li {
  display: inline-flex;
  margin-left: 15px;
}
footer #foot_b #foot_g img {
  width: 80px;
}/*# sourceMappingURL=style.css.map */