@charset "utf-8"; /*문자 인코딩 정보 표기*/

:root{font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;}
.inner{width: 100%; max-width:1440px; margin: 0 auto; /*outline: 3px solid #f00;*/}
.font{font-family: "pretandard";}
a{text-decoration: none; color: #000;}



header{position: relative;}
header #top{height: 150px; padding-top: 35px;}
header #logo{float: left; margin: 32px 0 0 50px; }
header h1 img{width: 300px;}



header #main_menu{ padding-top: 55px;
        > ul{float: left; padding-left:129px; text-align: center; width:1140px; margin:0 auto;}
        > ul > li{float: left; margin-right: 90px; text-align: center;  position: relative;}
        ul:hover .sub{opacity: 1;} 
        ul:hover +.sub_bg{opacity: 1;}
        li:hover .line{opacity: 1; width: 100%;}
        li:last-child{margin-right: 0px;}
        a{ font-weight: 400; font-size: 22px;}
        .sub{ height: 400px; position: absolute;   top:50px; left:50%; transform: translateX(-50%); opacity: 0; z-index: 999;
            white-space:nowrap; 
            ul{clear: both; margin-top: 40px; }
            li{clear:both;}
            li:hover a{font-weight: 500; font-size: 1.3rem;}
            a{font-size: 18px; font-weight: 300; line-height: 50px; color:#fff; transition: all .3s;}
            
            // #sub_1{position: absolute; top:0; left:330px; width: auto;  z-index: 1;}
            // #sub_2{position: absolute; top:0; left:512px;  width: auto;z-index: 1;}
         
            // #sub_3{position: absolute; top:0; left:704px;  width: auto;z-index: 1;}
            // #sub_4{position: absolute; top:0; left:887px;  width: auto;z-index: 1;}
            // #sub_5{position: absolute; top:0; left:1026px; width: auto;z-index: 1;}
            // #sub_6{position: absolute; top:0; left:1238px; width: auto;z-index: 1;}
            

        }
        .sub_bg{width: 100% ; height:440px; position: absolute; top: 150px; background: #00468A; z-index: 99; opacity: 0; }
        .line{border-bottom:5px solid #fff; border-radius: 16px;  opacity: 0; transition: all .3s; width: 10px; 
            
        }
}
header #m_menu{float: right;
        ul {float: right; margin-right: 115px;}
        li{float: left; margin-right: 41px; }
        li:nth-child(2){margin-right: 0;}
        li img{width: 30px; }
       
        
}

#main_view{height: 710px; position:relative; font-size: 13px !important;
    .swiper .swiper-wrapper img{height: 710px;}
    .next{position:absolute;bottom:67px;right:264px; z-index: 1;
    
    }
    .prev{position:absolute;bottom:67px;right:386px; z-index: 1;}
    .pagination{position: absolute; bottom:35px;  left:auto; right:318px; z-index:1; color: #fff; width: 30px; }
    .swiper-pagination-current{  font-size: 15px ;}
    .swiper-pagination-total{ font-size: 15px ;}

    .autoplay-progress {
        position: absolute;
        right: 314px;
        bottom: 58px;
        z-index: 10;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color:#fff;
        font-size: 0;
      }
  
      .autoplay-progress svg {
        --progress: 0;
        position: absolute;
        left: 0;
        top: 0px;
        z-index: 10;
        width: 100%;
        height: 100%;
        stroke-width: 4px;
        stroke: #fff;
        fill: none;
        stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
        stroke-dasharray: 125.6;
        transform: rotate(-90deg);
      }
      h2{font-size:53px; font-weight: 500; margin-bottom: 50px; line-height: 60px; text-shadow: 1px 1px 1px #333;}
      p{font-size: 22px; font-weight: 200; line-height: 30px;text-shadow: 1px 1px 1px #333;}
      .view_t{position: absolute; top: 45%;left: 50%;
        transform: translate(-50%, -50%); 
        color: #fff; text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 텍스트 그림자 추가 */}
      .play{
        img:first-child{display:inline-block;}
        img:last-child{display: none;margin-left: 5px;}
        &.pause img:first-child{display: none;}
        &.pause img:last-child{display: inline-block;}
      }

}
#main_search{float: left; margin-left: 179px;
    span{font-size: 36px;}
    .m_w{padding-bottom: 70px; }

}
#main_slide{padding-left: 600px; 
    ul{float: left;  border: 1px solid #f00; } 
    li{float: left; width: 330px!important; height: 500px; background: #ddd; border-radius: 12px;} 
}

#q_menu{ 
    ul{display: flex; justify-content: center; gap: 90px; margin-top: 100px; 
        li{ display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            text-align: center;
            div{ display: flex;
                align-items: center;
                justify-content: center;
                img{width: 65%;}
               }
               
        }
    }
    
    div{ width: 100px; height: 100px;
        background: #F5F6FA; border: 2px solid #EEEFF2; 
        border-radius: 27px;}
    p{padding-top:26px;}
    li:hover div{background: #FDFDFE;}
    li:last-child{margin-right: 0;}
    
   

}

#bord{a:hover{text-decoration: underline;}
       margin-top: 145px;height: 440px;
    #bord1{ width: 671px; float: left; 
        h2{font-size: 25px; padding-bottom: 15px; font-weight: 500;}
        ul{border-top: 2px solid #000;}
        span{width: 55px; border-radius: 10px; background-color: #D9D9D9; padding: 3px 15px; margin-right: 31px;}
        .color{background-color: #00468A; color:#fff;}
        li{padding-top: 30px; font-size: 18px;}

    }
    #bord2{ width: 671px; float: right; 
        
        ul{list-style:disc; margin-left: 25px;}
        
        h2{font-size: 25px; padding-bottom: 15px;font-weight: 500;border-bottom: 2px solid #000;}
    
        li{padding: 30px 0 0 0px; font-size: 18px; }

    }
}
#banner{clear: both;  text-align: center; margin-bottom: 200px; position: relative;
    background: url("../img/q_menu_bg3.png") no-repeat; height: 630px; background-size:cover;
    h2{font-size: 36px; font-weight: bold; padding: 79px 0 15px; color: #fff;}
    span{color:#19234c;}
    ul{width: 350px; margin:27px 0px 0 243px ; position: relative; height: 377px;}
    li{padding-bottom: 35px;}
    li:first-child{padding-top: 16px;}
    li:last-child{padding-bottom: 0;}
    
   
   .sport_b:checked ~.sub{
        display: block; 
    }
    label{color: #ffffff88; font-size: 20px;}
    label:hover{cursor: pointer;}
    input[type="radio"] {display: none; }
    input[type="radio"]:checked + .custom-radio + .radio-label {
        font-size: 25px;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 15px;
        padding: 10px 10px ; 
      }
    .sub{position: absolute; top: 0px;left: 432px; width: 997px; height:377px; background: #fff; display: none;  }
    /*img{width: 997px; height:377px; background: #fff;}*/
    #banner_bg1{position: absolute; top: 230px; left: -430px;}
    .banner_img{position: absolute; top: 0; left: 0; }
    .sub_w{position: absolute; top: 0;right: 0; width: 257px; height: 337px; background: #ddd; padding: 20px;  }
    h3{font-size: 20px; font-weight: 500; margin: 15px 0 88px;}
    p{font-size: 16px; font-weight: 300; line-height: 23px; text-align: left;}
    
    .button{background: #193675; width: 150px; height: 40px; position: absolute; top: 280px;right:18px ;border-radius: 10px; line-height: 40px; color: #fff;font-size: 16px; font-weight: 400;}
    .button:hover{background: #fff; color: #000;}
    .number{position: absolute;top: 340px; right: 25px;}
}
#newsroom{display: block; margin: auto; height: 354px;
    h2{font-size: 32px; font-weight: 600; margin-bottom: 20px;}
    ul{float: left; }
    li{float: left; width: 290px; margin-right: 93px; overflow: hidden;}
    li:hover img{transform: scale(1.1); transition: all .7s;}
    li:last-child{margin-right: 0;}
    h3{font-weight: bold; font-size: 16px; margin-bottom: 26px; color: #00468A;}
    p{font-size: 18px; line-height: 25px;}
    img{width:290px;margin: 22px 0; }

   
}
#sns{clear: both; margin-top: 236px; position: relative; height:500px;
    h2{font-size: 32px; font-weight: 600;}
    h3{padding:80px 0 0 20px; font-size: 28px; color: #818181; transition: all .4s;}

    .swiper{
        width: 242px;
        height: 324px;
        position: absolute;
        right: 230px;
        top: 80px;
       
       
      }
  
      .sns_box {
        background-position: center;
        background-size: cover;
      }
  
    .sns_box img {
        display: block;}
       
    .sns_box{ background: #F7F7F5; border-radius: 16px; }
    .sns_box:hover h3{color: #000; }
    
    .sns_logo{margin: 20px 0 0 20px;}

    .sns_swiper{
        width: 600px;
        height: 324px;
        position: absolute;
        left: 10%;
        top: 80px;
     
        overflow: hidden;
    }
   .sns_img{position: relative; }
   .sns_origin{position: absolute; top: 0; left: 0;
            h3{background: #ccc; font-size: 13px;}

                }

   .sns_hover{position: absolute; top: 0; left: 0; width: 10%; opacity: 0; transition: all .3s;}
   



    .sns_grid{  display: flex;
        justify-content: center;
       
        ul{width: 82%;
            display: flex;
            justify-content: center; /* 가운데 정렬 */
            flex-wrap: wrap;
           
          }
          
         li {width: 33%;border:1px solid #fff; box-sizing: border-box; }

        img {
            display: block;
            width: 100%;
           
          }  
       
        li:hover .sns_hover{opacity: 1;}  
        
    }
    #youtube{
                display: flex;
                justify-content: center;
                align-items: center;
            }


}
        
      
   
   

    
    

footer{color: #fff;
     dl{display: inline-flex; 
        margin:39px 0 10px;
        }

     dl:first-child{margin:67px 0 10px;}   
     dt{margin-right: 18px; font-weight: 500;}
    
     dd::after{content: "|"; margin: 0 8px 0;}
     dd:nth-child(7){}
    #foot_1{background: #4F4F4F;
            #copy{padding:20px ;}
  ul{display: inline-flex; margin-top: 96px; margin-bottom: 36px;}
   li{margin-right: 15px;}
 
     }
   
    h3{text-align: center;}
    h4{color: #333; font-size: 18px; float: left; margin: 10px 50px 0 50px;}
    

    #foot_b{background: #F5F6F8; height: 80px; position: relative; 
        #foot_{padding-top: 20px;
             ul{display: inline-flex; }
             li{display: inline-flex; margin-right: 50px;}
            }
       
        #foot_g{position: absolute; top: 0; right: 240px;
            ul{display: inline-flex; }
            li{display: inline-flex; margin-left: 15px;}

        img{width:80px;}    
  
        }
           }
}



